<h3>Crypto Currency lookup</h3>
<br/>

<%= form_tag home_lookup_path, :method => 'Post' do %>
  <%= text_field_tag 'sym', nil, placeholder: 'Enter Crypto Symbol', size: 50 %>
  <%= submit_tag 'Lookup Stock Quote' %>
<%= end %>